<h1>Welcome to your To Do!</h1>

<ul>
  <% @tasks.each do |task| %>
    <li> <%= task.description %></li>
  <% end %>
</ul>

<form action="/" method="post">
  <label for="task_description">Description</label>
  <input id="task_description" name="task[description]" type="text" value="<%@task.description %>">
  <button> Create Task </button>
</form>
