<h2><%= @task.description %></h2>

<p><a href="/">Back to task list</a></p>

<h3>Edit task:</h3>

<% if @task.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/<%= @task.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="task_description">Description</label>
  <input id="task_description" name="task[description]" type="text" value="<%@task.description %>">
  <button> Create Task </button>
</form>
